---
interface Props {
  id: number;
  name: string;
  year: number;
  image: string;
  type: string;
  description: string;
}

const { name, year, image, type, description, id } = Astro.props;
---

<div class="w-auto h-auto flex relative group shadow-lg/30 shadow-neutral-700">
  <a href={`projects/${id}`}>

    <picture class="w-auto h-auto group-hover:opacity-20">
      {
        type == "Horizontal" ? (
          <img src={image} alt="projects-img" class="w-96 h-52 rounded" />
        ) : (
          <img
          src={image}
          alt="projects-img"
          class="w-full max-w-[200px] h-auto aspect-9/16 object-cover rounded items-center"
          />
        )
      }
  </picture>
</a>

  <!-- Text header hover -->
  <div
    class="w-full h-20 absolute group-hover:h-full transition-all ease-in 1ms  bottom-0 rounded overflow-hidden text-white p-5"
  >
    <span
      class="font-[Sauce] text-[18px] text-center text-balance border-b-neutral-900 uppercase"
    >
      {name}
    </span>

    <div
      class="w-full h-auto opacity-0 flex flex-row group-hover:block group-hover:opacity-100 transition-all ease-in 2s p-3 text-balance"
    >
      <div
        class="flex flex-row w-full h-20 items-center justify-center text-center"
      >
        <a
          href={`projects/${id}`}
          class="flex bg-neutral-700 opacity-100 rounded-full p-2 w-50 h-10 justify-center items-center hover:bg-neutral-400 transition-all ease-in 1s"
          >Ver más</a
        >
      </div>
    </div>
  </div>
</div>
