---
interface Props {
  id: number;
  name: string;
  year: number;
  image: string;
  type: string;
  description: string;
}

const { name, year, image, type, description, id } = Astro.props;

const sizeCardImage =
  type == "Horizontal" ? "col-span- row-span 2" : "col-span-1 row-span-2";
---

<!-- card videos and reels -->
<div
  class={`relative overflow-hidden rounded-[10px] ${sizeCardImage} shadow-md/5 shadow-white mb-4`}
>
  <a href={`projects/${id}`}>
    <picture class="object-contain">
      <img src={image} alt="videos_edits" class="w-full h-full object-cover" />
    </picture>

    <div
      class="absolute inset-0 bg-black/40 opacity-0 hover:opacity-100 transition"
    >
      <div class="absolute bottom-4 left-4 text-white">
        <span
          class="nline-flex items-center rounded-full bg-neutral-200/10 px-2 py-1 text-xs font-black text-white inset-ring inset-ring-neutral-200"
          >{year}</span
        >
        <p class="font-semibold mt-2">{name}</p>
      </div>
    </div>
  </a>
</div>
