---
import Layout from "../../layouts/Layout.astro";
import { PROJECTS } from "../../const/projects";
import ContentVideo from "../../components/ContentVideo.astro";
import ContentDescription from "../../components/ContentDescription.astro";

export const getStaticPaths = () => {
  return PROJECTS.map((res: any) => ({
    params: { id: res.id },
  }));
};

const { id } = Astro.params;

const contentVideos = PROJECTS.find((video: any) => video.id == id);
console.log(contentVideos);
---

<Layout>

  <section class="w-full max-w-5xl mx-auto mt-32 px-4">
  <div class="w-full min-h-screen flex flex-col items-center justify-center gap-6">

    <a 
      href="/" 
      class="text-white w-30 p-2 text-center rounded-full inset-ring inset-ring-neutral-500 mb-2"
    >
      Volver al Inicio
    </a>

    <!-- Video -->
    <ContentVideo url={contentVideos?.url}></ContentVideo>

    <!-- Description -->
    <ContentDescription 
      year={contentVideos?.year} 
      description={contentVideos?.description} 
      title={contentVideos?.name} 
      software={contentVideos?.software}
    ></ContentDescription>

  </div>
</section>

  
</Layout>
