---
import Card from "../components/Card.astro";
import { PROJECTS } from "../const/projects";

const horizontalArray = PROJECTS.filter(
  (project: any) => project.type == "Horizontal",
);
const reels = PROJECTS.filter((project: any) => project.type == "Reel");
---

<section
  id="projects"
  class="bg-[#151515] w-full min-h-[50vh] mt-2 flex flex-row justify-center p-3"
>
  <div class="w-7xl h-auto flex flex-col justify-start items-center gap-3 mt-2">
    <!-- Title -->
    <div class="w-3xl h-10 text-white font-[Helvetica-light]">
      <h2 class="font-[Helvetica-Neue]">Proyectos</h2>
    </div>
    <!-- Content/text -->
    <div class="w-3xl h-auto text-white font-[Helvetica-light]">
      <p class="text-2xl">
        Algunos proyectos realizados mayormente son para redes sociales. También
        para presentar un nuevo proyecto web que he creado.
      </p>
    </div>

    <!-- Projects Horizontal (presentations, etc) -->
    <h1 class="text-white font-[Helvetica-Neue]">Videos Horizontales</h1>
    <div
      class="grid grid-col-3 md:grid-flow-col gap-1 w-full justify-center items-center"
    >
      {
        horizontalArray.map((item: any) => (
          <Card
            id={item.id}
            name={item.name}
            image={item.image}
            year={item.year}
            type={item.type}
            description={item.description}
          />
        ))
      }
    </div>

    <!-- Projects Vertical (reels)-->
    <h1 class="text-white font-[Helvetica-Neue]">Reels</h1>
    <div
      class="grid grid-row-3 h-auto md:grid-flow-col gap-1 w-full justify-center items-center"
    >
      {
        reels.map((item: any) => (
          <Card
            id={item.id}
            name={item.name}
            image={item.image}
            year={item.year}
            type={item.type}
            description={item.description}
          />
        ))
      }
    </div>
  </div>
</section>

<!-- 
  Proyectos: 
  - Video presentación de portfolio 2022
  - Video de promoción nav
  - Video Presentación Portfolio video editor 2025
-->
