---
import Card from "../components/Card.astro";
import { PROJECTS } from "../const/projects";

const horizontalArray = PROJECTS.filter(
  (project: any) => project.type == "Horizontal",
);
const reels = PROJECTS.filter((project: any) => project.type == "Reel");
---

<section
  id="projects"
  class="bg-[#151515] w-full min-h-[50vh] mt-2 flex justify-center p-3"
>
  <div
    class="w-full max-w-7xl h-auto flex flex-col justify-start items-center gap-3 mt-2"
  >
    <!-- Title -->
    <div class="w-full max-w-3xl text-white font-[Helvetica-light]">
      <h2 class="font-[Sauce]">Proyectos</h2>
    </div>

    <!-- Content/text -->
    <div class="w-full max-w-3xl text-white font-[Helvetica-light]">
      <p class="text-2xl">
        Algunos proyectos realizados mayormente son para redes sociales. También
        para presentar un nuevo proyecto web que he creado.
      </p>
    </div>

    <!-- grid videos -->
    <div
      class="w-full h-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 auto-rows-[200px] gap-6 place-content-center"
    >
      {
        PROJECTS.map((video) => (
          <Card
            id={video.id}
            year={video.year}
            image={video.image}
            description={video.description}
            name={video.name}
            type={video.type}
          />
        ))
      }
    </div>
  </div>
</section>
